@import url("reset.css");

:root {
    --header-font-color: #431b05;
    --header-font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    --background-color: #1f1f12;
    --border-color-light: #aaa;
    --width-max-content: calc(100% - 400px);
    --text-on-background-color: #dddddd;
    --light-background-color-transparent: rgba(31, 31, 12, .5);
}

html {
    background-color: var(--background-color);
}

span[role="button"] {
    text-decoration: underline;
}

span[role="button"]:hover {
    background: #aaaaaa;
}

.mainHeader {
    font-family: var(--header-font-family);
    font-weight: bold;
    font-size: 6em;
    text-align: center;
    color: var(--header-font-color);
    margin-bottom: 1em;
    padding-top: 1em;
}

.mainContent {
    margin: 1em 4em 2em 4em;
    width: 100%;
}

#error_console:not(:empty) {
    color: darkred;
    font-weight: bold;
    padding: 2em;
    border: .2em solid darkred;
    margin: 2em;
    background-color: #777777;
    max-height: 40em;
    overflow-y: auto;
}

#error_console p {
    margin-top: .5em;
}

.bubblyBackground {
    background: url("background.png") no-repeat center center fixed;
    background-size: cover;
    -webkit-logical-height: -webkit-fill-available;
}