@import url("reset.css");

:root {
    --header-font-color: #331807;
    --header-font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    --background-color: rgba(204, 207, 204, 0.72);
    --border-color-light: #aaa;
    --width-max-content: calc(100% - 10rem);
    --text-on-background-color: #2c2c2c;
    --light-background-color-transparent: rgba(31, 31, 12, .5);
    --label-text-color: #626262;
    font-size: 14pt;
}

html {
    background-color: var(--background-color);
}

span[role="button"] {
    text-decoration: underline;
}

span[role="button"]:hover {
    background: #aaaaaa;
}

.mainHeader {
    font-family: var(--header-font-family);
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    color: var(--header-font-color);
    margin-bottom: 1em;
    padding-top: .1em;
}

.mainContent {
    margin: 1rem;
    padding: 1rem;
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    background-color: var(--background-color);
}

#error_console:not(:empty) {
    color: darkred;
    font-weight: bold;
    padding: 2em;
    border: .2em solid darkred;
    margin: 2em;
    background-color: var(--background-color);
    max-height: 40em;
    overflow-y: auto;
}

#error_console p {
    margin-top: .5em;
}

#footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: var(--background-color);
}

#footer:hover{
    background-color: var(--light-background-color-transparent);
}


.bubblyBackground {
    background: url("images/background.png") no-repeat center center fixed;
    background-size: cover;
}

.percentage:not(:empty)::after {
    content: "%";
    color: var(--label-text-color);
}
