@import url("common.css");


.mainContent {
    line-height: 1.5em;
}

.beer_info_group{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 5em;
    margin-right: 5em;
}

.beer_info_wrapper{
    font-size: 1.5em;
    width: 30em;
    position: relative;
}

.beer_label {
    color: var(--label-text-color);
    font-style: italic;
    text-align: right;
    width: 10em;
    margin-right: .2em;
    display: inline-block;
}

.beer_info {
    color: var(--text-on-background-color);
}

.beer_image_main {
    max-width: 30vw;
    border: 1px solid var(--border-color-light);
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
}

.country_flag {
    display: inline-block;
    max-height: 32px;
    font-size: 0;
}

#wikipedia_content {
    padding: 2rem;
    font-size: smaller;
}

.navigation_links {
    width: 100%;
    padding: 1rem 3rem 1rem 3rem;
    font-size: 2em;
}