@import url("reset.css");
@import url("../fonts/fonts.css");

:root {
    --background-color: #DDD;
    --error_message_color: #431b05;
    --mainContent-side-margin: 60px;
    --label-text-color: #626262;
    --background-menu-color: #9b99dd;
    --background-button-hover: #aeb8b8;

    --font-body-text: "Cardo regular", Serif;
    --font-main-header: "Alfaslabone", sans-serif;
    --font-buttons: "Roboto medium", sans-serif;
    --font-labels: "Cardo italic", sans-serif;
}

html {
    font-size: 18px;
    font-family: var(--font-body-text);
}

.mainContent {
    margin: 10px var(--mainContent-side-margin) 10px var(--mainContent-side-margin);
    padding-bottom: 2em;
}

@media screen and (max-width: 700px) {
    :root {
        --mainContent-side-margin: 10px;
    }
    html {
        font-size: 14px;
    }
    .mainContent {
        margin-top: 4px;
        margin-bottom: 4px;
    }
}

.mainHeader {
    font-family: var(--font-main-header);
    font-size: 5em;
    line-height: .6em;
    margin: 4rem 5rem 3rem 5rem;
    text-align: center;
}


#error_console:not(:empty) {
    color: var(--error_message_color);
    font-weight: bold;
    padding: 2em;
    border: .2em solid darkred;
    margin: 2em var(--mainContent-side-margin) 2em var(--mainContent-side-margin);
    background-color: var(--background-color);
    max-height: 40em;
    overflow-y: auto;
}

#error_console p {
    margin-top: .5em;
}

#footer{
    position: fixed;
    width: 100%;
    height: 1em;
    bottom: 0;
    padding: .2em 3em .2em 3em;
    background-color: var(--background-menu-color);
    transition: height .1s ease-in-out;
}

#footer:hover{
    height: 2em;
}

#footer a {
    font-family: var(--font-buttons);
    text-decoration: none;
    border-bottom: 1px solid var(--label-text-color);
    position: relative;
    padding: .2em .4em;
    transition: border-top-color 1s;
    transition: top .2s;
}

#footer:hover a {
    border: 1px solid var(--label-text-color);
    transition: background-color .5s;
    top: .5em;
}

#footer:hover a:hover {
    background-color: var(--background-button-hover);
}

.percentage:not(:empty)::after {
    content: "%";
    color: var(--label-text-color);
}

[role=button] {
    cursor: pointer;
}

.earth_background {
    background-image: url(../images/earth.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}
