@import url("common.css");

.beer_info_group{
    margin-left: 1em;
    margin-right: 1em;
    font-size: 3em;
}

.beer_info_group dt {
    font-family: var(--font-labels);
    color: var(--label-text-color);
    font-size: .7em;
}
.beer_info_group dt:after {
    content: ": ";
}

.beer_info_group dd {
    font-family: "Roboto light";
    margin-bottom: 1em;
    margin-top: 0;
}

.beer_image_main {
    max-width: 30vw;
    border: 2px solid var(--label-text-color);
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
}

.country_flag {
    display: inline-block;
    max-height: 64px;
}

.message_list ul {
    padding-top: 1em;
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}

.message_item {
    margin-bottom: .5em;
    position: relative;
}

.message_item:before {
    content: "🗨";
    position: absolute;
    left: -1em;
    color: var(--label-text-color);
    font-size: 1.2em;
}

#wikipedia_content {
    padding: 2rem;
    font-size: smaller;
    line-height: 1.2em;
}
