@import url("index.css");

.filter_fieldset {
    height: fit-content;
}

.filter_fieldset input {
    position: relative;
    top: 0.4em;
    width: 90%;
}

.filter_label {
    max-width: 31%;
    display: flex;
    flex-direction: column;
}

#filter_country_label {
    right: -11em;
    top: 14em;
}

#filter_country_label input {
    width: 7rem;
}

#filter_country {
    top: 3em;
}